img.images{ 
    background-color: black;
      box-shadow: 5px 5px 5px #000000;
    border-radius: 50%;
    overflow: hidden;
    position:relative;
    width:   250px;
    margin-right:inherit;
    float: right;
    
   }
   
